import os
import pandas as pd
from pathlib import Path
from kedro.framework.startup import _get_project_metadata
from kedro.framework.session import KedroSession
from enum import Enum
from fastapi import FastAPI, Request, Header, HTTPException, Body
from fastapi.responses import RedirectResponse
from typing import Iterable, Tuple, Optional
from itertools import chain

project_path = Path.cwd()
metadata = _get_project_metadata(project_path)
session = KedroSession.create(metadata.package_name, project_path)
context = session.load_context()

app = FastAPI(
    title="{{title}}",
    version="{{version}}",
    description="""
        {{description}}
    """,
    openapi_tags={{tags}}
)

@app.get('/')
async def docs_redirect():
    return RedirectResponse(url='/docs')


{% for route_name, route in routes.items() -%}
{{ route.get('predictor') }} = context.catalog.load("{{ route.get('predictor') }}")
{% for parameter, values in route.get('parameters').items() -%}
{% if values.get('type') == "enum" %}
class {{ route.get('predictor') }}{{ parameter }}(str, Enum):
    {% for option in values.get('options') -%}
    {{option}} = "{{option}}"
    {% endfor -%}
{% endif %}
{% endfor -%}


@app.get("/{{ route_name }}", tags={{route.get('tags')}})
def predict_{{ route_name }}(
{% for parameter, values in route.get('parameters').items() -%}
    {% if values.get('type') == 'enum' %}
    {{parameter}}:{{ route.get('predictor') }}{{ parameter }}{{ ", " if not loop.last else "" }}
    {% else -%}
    {{ parameter }}:{{ values.get('type') }}{{ ", " if not loop.last else "" }}{{ ", " if loop.last and security else "" }}
    {% endif -%}
{% endfor -%}
{% if security %}
    x_token: str = Header(None)
{% endif -%}
):
    {% if security %}
    if x_token!=os.environ.get('API_SECRET_KEY'):
        raise HTTPException(status_code=404, detail="X-Api-Key wrong or not found")
    {% endif -%}

    args={
    {% for parameter, values in route.get('parameters').items() -%}
    "{{parameter}}": {{parameter}},
    {% endfor -%}
    }
    df = pd.DataFrame({k: [v] for k, v in args.items()})
    return {{ route.get('predictor') }}.predict(df)
{% endfor -%}

def _get_values_as_tuple(values: Iterable[str]) -> Tuple[str, ...]:
    return tuple(chain.from_iterable(value.split(",") for value in values))


@app.post("/kedro")
def kedro(
    request: dict = Body(..., example={
        "pipeline_name": "",
        "tag": [],
        "node_names": [],
        "from_nodes": [],
        "to_nodes": [],
        "from_inputs": [],
        "to_outputs": [],
        "params": {}
    })
):
    pipeline_name = request.get("pipeline_name")
    tag = request.get("tag")
    node_names = request.get("node_names")
    from_nodes = request.get("from_nodes")
    to_nodes = request.get("to_nodes")
    from_inputs = request.get("from_inputs")
    to_outputs = request.get("to_outputs")
    params = request.get("params")
    
    tag = _get_values_as_tuple(tag) if tag else tag
    node_names = _get_values_as_tuple(node_names) if node_names else node_names
    package_name = str(Path(__file__).resolve().parent.name)
    try:
        with KedroSession.create(package_name, env=None, extra_params=params) as session:
            return session.run(
                    tags=tag,
                    node_names=node_names,
                    from_nodes=from_nodes,
                    to_nodes=to_nodes,
                    from_inputs=from_inputs,
                    to_outputs=to_outputs,
                    pipeline_name=pipeline_name,
                )
    except Exception as error:
        raise HTTPException(status_code=500, detail=str(error))

    
@app.get("/catalog")
def catalog(
    name: str
):
    try:
        file = context.catalog.load(name)
        return file.to_json(force_ascii=False)
    except Exception as error:
        raise HTTPException(status_code=500, detail=str(error))